
.vs/WVA_Compulink_Server_Integration/v16/Server/sqlite3/db.lock
*.pdb
*.pdb
GUI/obj/Debug/WVA_Compulink_Server_Integration.pdb
.vs/WVA_Compulink_Server_Integration/v16/.suo
*.pdb
*.pdb
*.cache
*.lock
.vs/WVA_Compulink_Server_Integration/DesignTimeBuild/.dtbcache
.vs/WVA_Connect_CSI/DesignTimeBuild/.dtbcache
.vs/WVA_Compulink_Server_Integration/DesignTimeBuild/.dtbcache
.vs/WVA_Connect_CSI/v16/.suo
.vs/WVA_Connect_CSI/v16/.suo
.vs/WVA_Connect_CSI/v16/.suo
*.ide-wal
.vs/WVA_Connect_CSI/v16/.suo
.vs/WVA_Connect_CSI/v16/.suo
