<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="WVA_Connect_CSI Machine-Wide Installer" Language="1033" Codepage="1252" Version="!(bind.FileVersion.WVA_Connect_CSI.exe)" UpgradeCode="eca03890-854e-5173-b8b0-b437fe31ed8b" Manufacturer="Wisconsin Vision Associates">

    <Package Description="#Description" Comments="Comments" InstallerVersion="200" Compressed="yes"/>
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>

    <PropertyRef Id="NETFRAMEWORK45" />

    <Condition Message="This application requires .NET Framework 4.5 or higher. Please install the latest .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="WVA_Connect_CSI Installer" />
      </Directory>
    </Directory>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="WVA_Connect_CSI.exe" Guid="1e31ea3a-0617-500c-810a-a63677ddf58a">
        <File Id="WVA_Connect_CSI.exe" Name="WVA_Connect_CSI.exe" Source="./Setup.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="18d68b2b-8d40-5687-b3a7-70ed5b05c258">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue Type="expandable" Name="WVA_Connect_CSIMachineInstaller" Value="%ProgramFiles%\WVA_Connect_CSI Installer\WVA_Connect_CSI.exe --checkInstall" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="WVA_Connect_CSI.exe" />
      <ComponentRef Id="RegistryEntries" />
    </Feature>
  </Product>
</Wix>

